.tamanio {
    font-size: 20px;
}

.mydiv {
    position: relative;
    margin: 10% auto 0;
    width: 95%;
    /* height: 200px; */
    height: 93%;
    background: linear-gradient(180deg, white, #c5cae9);
    /*   background: white; */
}

.animate-bg:before,
.animate-bg:after {
    content: '';
    position: absolute;
    left: -8px;
    top: -8px;
    /* background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5,#ff004c,  
            #e6036d, #fb0094,#ff6600, #04c2e4,#adad02, #00c3ff); */
    background: linear-gradient(120deg, #031ba5, #00c3ff);
    background-size: 300%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: -1;
    animation: BGgradient 10s ease infinite;
}

@keyframes BGgradient {
    0% {
        background-position: 0% 200%;
    }

    50% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 330%;
    }
}

.animate-bg:after {
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
    filter: blur(15px);
}

.sliderMio {
    top: 1em;
    position: relative;
    /*   box-sizing: border-box; */
    animation: sliderMio 15s linear infinite;
    list-style-type: none;
    text-align: center;
}

.sliderMio:hover {
    animation-play-state: paused;
}

@keyframes sliderMio {
    0% {
        top: 10em
    }

    100% {
        top: -14em
    }
}

.blur .sliderMio {
    margin: 0;
    padding: 0 1em;
    line-height: 1.5em;
}

.blur:before,
.blur::before,
.blur:after,
.blur::after {
    left: 0;
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 2em;
    background-image: linear-gradient(180deg, #FFF, rgba(255, 255, 255, 0));
}

.blur:after,
.blur::after {
    bottom: 0;
    transform: rotate(180deg);
}

.blur:before,
.blur::before {
    top: 0;
}

.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 50px;
    padding: 0;
    white-space: nowrap;
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
    animation: glow .59s infinite alternate;
}

/*   body {
            background-color: #131219;
        }
 */
/* Animation as suggested by Ismail Ghallou */
@keyframes glow {
    to {
        text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px rgb(72, 193, 223), 0 0 16px rgb(72, 193, 223), 0 0 20px rgb(72, 193, 223), 0 0 24px rgb(72, 193, 223), 0 0 28px rgb(72, 193, 223);
    }
}

.brand-logo {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
    animation: glow .80s infinite alternate;
}

.TextoMarquesina {
    margin: 0;
    color: black;
    padding-left: 5px;
}

.agradecimiento {
    color: royalblue;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    padding-left: 17px;
}

.profes {
    color: steelblue;
    font-style: italic;
    margin: 0;
    padding-left: 20px;
}

.titulomarquesina {
    color: royalblue;
}

.medidas {
    width: 95px;
    height: 190px;
}